# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker/data/

# Node
node_modules/
dist/

# Turborepo
.turbo

# Vite
.vite
